@font-face {
    font-family: retroFont;
    src: url(resources/retroFont.ttf);
}

@font-face {
    font-family: linebeam;
    src: url(resources/Linebeam.ttf);
}


* {
    box-sizing: border-box;
}

body,
html {
     margin: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(190deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1));
}

.container {
    height: 100vh;
    width: 100vw;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.chassi {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    background-color: #e2d9cd;
    border: outset 4px;
    box-shadow: 10px 30px 40px rgba(0, 0, 0, 0.212);
    border-radius: 10px;
    margin: 10px;
    flex: 0;
}

.brand {
    white-space: nowrap;
    font-size: 50px;
    text-align: left;
    font-family: linebeam;
    margin: 10px;
    color:#3d3d3d;
    text-shadow: 2px 4px  rgba(255, 255, 255, 0.383);
}

.display {
    align-self: center;
    text-align: left;
    width: 100%;
    background-color: black;
    color: #EF1E06;
    text-shadow: 0px -2px 10px;
    letter-spacing: 4px;
    padding: 15px;
    padding-top: 30px;
    margin: 5px;
    font-size: 60px;
    border: inset #ffffff 4px;
    font-family: retroFont;
}

.buttons {
    align-self: center;
    border: inset #716c6c 2px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    margin: 10px;
    padding: 10px;
    background-color: #c8beb4;
    flex: 1;
    border-radius: 20px;
}

.minus {
    grid-row: 1;
    grid-column: 4;
}

.plus {
    grid-row: 2;
    grid-column: 4;
}

.zero {
    grid-row: 4;
    grid-column: 2;
}

.clear {
    grid-row: 4;
    grid-column: 1;
}

.equals {
    grid-row: 4;
    grid-column: 3;
}

.btn {
    background-size: cover;
    background-position: center;
    height: 6em;
    width: 6em;
    margin: 2px;
    box-shadow: 2px 2px  rgba(0, 0, 0, 0.401);
    color: #efe7dc;
    font-family: sans-serif;
    font-size: 15px;
    border-radius: 20px;
}

.operator {
    background-image: url(resources/blue_button.png);
}

.number {
    background-image: url(resources/brown_button.png);
}

.button:active {
    background-color: #716c6c;
}