@font-face {
    font-family: retroFont;
    src: url(resources/retroFont.ttf);
}

@font-face {
    font-family: linebeam;
    src: url(resources/Linebeam.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1));
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chassi {
    margin: 10px;
    width: 90vw;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 20px;
    background-color: #e2d9cd;
    border: outset 4px;
    border-radius: 8px;
}

.brand {
    font-size: 25px;
    text-align: left;
    font-family: linebeam;
    color: #3d3d3d;
    text-shadow: 2px 4px rgba(255, 255, 255, 0.383);
}

.display {
    text-align: right;
    font-size: 25px;
    background-color: rgb(24, 9, 9);
    border: inset #ffffff 4px;
    width: 80vw;
    height: auto;
    overflow: scroll;
    color: #EF1E06;
    letter-spacing: 4px;
    padding: 10px;
    font-family: retroFont;
    opacity: 1;
}

.blinking {
    color: #ef1d0600;
}

.buttons {
    padding-top: 10px;
    padding: 4px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
    box-shadow: inset 0px 5px 2px rgba(0, 0, 0, 0);
    background-color: #9c9791;
    border-radius: 8px;
}

.btn {
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 8px;
    text-align: center;
    border: outset 2px;
    margin: 2px;
    color: #ffffff;
    box-shadow: 0px 1px rgba(0, 0, 0, 0.22);
}

.operator,
#\.,
.equals {
    background-color: rgb(67, 119, 174);
}

.number{
    background-color: #d4cabf;
}

.clear,
.delete {
    grid-row: 1;
    background-color: black;
    color: white;
    aspect-ratio: 4/1;
}

.clear {
    grid-column: 1 / span 2;
}

.delete {
    grid-column: 3 / span 2;
}

button:active {
    border: inset;
}

.footer {
    height: 1vh;
}

@media only screen and (min-width: 500px) {
    body {
        margin: auto;
        padding: auto;
        height: 100vh;
        overflow: scroll;
        background: linear-gradient(190deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1));
    }

    .container {
        display: flex;
        margin: auto;
        top:50%;
    }

    .chassi {
        width: 410px;
        height: auto;
        margin: 10px;
        padding: 20px;
        gap: 10px;
        box-shadow: 40px 40px 20px rgba(0, 0, 0, 0.132);
    }

    .display {
        width: 100%;
        font-size: 33px;
        text-align: right;
    } 
}